.filter-group {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

select {
  flex: 1;
  height: 45px;
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: white;
  cursor: pointer;
  outline-color: #d36a33;
  max-width: 100%;
  font-family: sans-serif;
  color: #888;
  font-size: 15px;
  letter-spacing: 0.01em;
  font-weight: 400;
}

@media (max-width: 480px) {
  .filter-group {
    flex-direction: column;
  }

  .filter-group select {
    width: 100%;
  }
}
