.filter-group {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

select {
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: white;
  cursor: pointer;
  outline-color: #d36a33;
  max-width: 100%;
}
