.milk-svg-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.milk-404 {
  width: min(520px, 45vw);
  max-height: 78vh;
  max-width: 520px;
  margin: 12px 0;
  filter: drop-shadow(0px 20px 30px rgba(0, 0, 0, 0.1));
}

#mouth-frown {
  opacity: 0;
}

@media (max-width: 980px) {
  .milk-404 {
    width: min(560px, 70vw);
    max-height: 72vh;
  }
}
