* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  background-color: #fffaf5;
  overscroll-behavior: none;
  font-family: sans-serif;
}

#root {
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  padding-top: 58px;
}

.content-wrap {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-wrap.contact-background {
  background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
  padding: 50px 16px;
}

@media (max-width: 925px) {
  .content-wrap.contact-background {
    padding: 30px 16px;
  }
}

@media (max-width: 640px) {
  .content-wrap.contact-background {
    padding: 0;
  }
}
